# Use an allow list system so we don't accidentally publish something we don't mean to
**

!/dist-cjs/**
!/dist/**
!/LICENSE
!/CHANGELOG.md
!/README.md
!/tsconfig.*
/tsconfig.json
/tsconfig.cjs.json
/tsconfig.esm.json